table {
    width: 100%;;
    border : 1px solid black;
}

tr,th {
    text-align: center;
    width: 200px;
    margin: 5px ;
    border : 1px solid black;
    background-color: lightblue;

}

 td {
    border : 1px solid black;
    background-color: lightcyan;
    text-align: center;
    color: brown;
    font-weight: bold;
}